@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}

body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* section title */
.section-title--special{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/* preloader */
.preloader{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}

.hidePreloader{
  display: none!important;
}



/* navbar */
.navbar{
  background: var(--mainWhite);
}

.navbar-icon{
  font-size: 2rem;
  color: var(--mainBlue);
}

.navbar-toggler{
  outline-color: var(--mainBlue)!important;
}

.nav-link{
  color: var(--mainBlack);
  text-transform: capitalize;
}

.nav-link:hover{
  color: var(--mainBlue);
}

.nav-icon{
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.nav-icon:hover{
  color: var(--mainBlack);
}

/* header */
.header{
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  overflow: hidden;
}

.height-max{
  background:url(../img/headerBcg.jpeg);
  min-height: calc(100vh - 76px);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes zoom{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2) translateX(-5%);
  }
  100%{
    transform: scale(1);
  }
}

.title-heading{
  background: rgba(0,0,0,0.4);
  border-left: 0.3rem solid var(--mainBlue);
}

.title{
  font-weight: 700;
  font-size: 1.9rem;
}

@media screen and (min-width:768px){
  .title{
    font-size: 3rem;
  }
}
  .title-icon{
    color: var(--mainBlue);
    text-decoration: none !important;
  }
  
  .title-icon:hover{
    color: var(--mainBlue);
    opacity: 0.6;
  }

  /* skills */
  .skills-icon{
    font-size: 3rem;
    color: var(--mainYellow);
    background: var(--mainGrey);
  }

  .skills-icon:hover{
    color: var(--mainYellow);
  }

  .skills-underline{
    width: 4rem;
    height: 0.3rem;
    background: var(--mainBlue);
    margin: 1rem auto;
  }

/* inventory */
.inventory{
  background: var(--mainGrey);
}

.car-card{
  border-radius: 0!important;
}

.car-img{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.car-value{
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 1s linear;
}

.car-value:hover{
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}

/* question */
.question{
  background:url('../img/questionBcg.jpeg')center/cover fixed no-repeat;
}

.question-grey{
  background: rgba(79,109,122,0.75);
}

.question-yellow{
  background: rgba(227,181,5,0.75);
}

.question-icon{
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}

.question-icon:hover{
  transform: translateY(-10%);
  color: var(--mainBlue);
}

.question-info{
  color: var(--mainWhite);
}